<div class = "show-form-container">
  <h1 class = "page-title">Patient Details</h1>
    
  <div class = "content">
    <p><strong>Name:</strong> <%= @patient.name %></p>
    <p><strong>Age:</strong> <%= @patient.age %></p>
    <p><strong>Email:</strong> <%= @patient.email %></p>
    <p><strong>Paid amount:</strong> <%= @patient.amount %></p>
    <p><strong>Location:</strong> <%= @patient.location %></p>
    <p><strong>Gender:</strong> <%= @patient.gender %></p>
    <p><strong>User ID:</strong> <%= @patient.user_id %></p>
    <p><strong>Response:</strong> <%= @patient.response %></p>
   </div> 
</div>

<%= link_to 'View Patients List', patients_path, class: 'btn' %>
